<!-- Header Include -->
<%- include(partials + '/header.ejs') %>

<section class="container-fluid">
    <div class="row row-flex">
        <div class="col-md-5 col-flex-item vertical-divider">
            <h4> Left column title</h4>
            <p>Left column text</p>
        </div>
        <div class="col-md-4 col-flex-item">
            <h4>Right column title</h4>
            <p>  <img src="images/jazz.gif" alt="Man Playing Jazz Saxophone "></p>
        </div>
    </div>
</section>