<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
-->

<!-- Header Include -->
<%- include(partials + '/header.ejs') %>

<style>
  .with-background {
      background-image: url('images/hidden-jazz-club.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
</style>


<div class="p-4 bg-light text-success with-background">
    <div class="container-fluid py-1">
      <h1 class="display-6 fw-bold">About Vikram's Jazz Improvization Bot</h1>
      <p class="col-md-8 fs-7">
          Information about the bot.
      </p>
    </div>

    <div class="row text-white" style="margin-top: 10px; margin-left: 20px">
      <p>  
        <b> Author:  </b> Vikram Bala <br>
        <b>Email: </b> vikrambala2002@gmail.com <br>
        <b>Code Repository: </b> <a href="https://github.com/vbala29/Jazz-Improv-Bot" target="_blank"> GitHub Link</a> <br>

        <b>Technology:</b> Website was written on the following stack: Express.js, Node.js, MongoDB, AWS Lambda, HTML5/CSS3/JS/Bootstrap5 <br> <br>

        <b>Inspiration:</b> I've played jazz on the upright bass and bass guitar for 8 years, and if there's one thing I've come to learn, 
        it's that jazz improvization truly is like speaking a language—the jazz language. Jazz musicians communicate with one another in real time through their improvization,
        and as one comes to learn more about jazz, it becomes even more clear just how much vocabulary exists in the language. While many start out by learning formulaic approaches to improvizing
        in jazz, via learning scales and music theory to increase their vocabulary, the best jazz improvization comes through expression of emotion via the jazz language, rather than thinking about solely scales.
        I wondered, is it possible for a machine to ever recreate the kind of passion and expression we hear in jazz solos from the greats like Miles Davis, John Coltrane, Oscar Peterson, and others?
        This website is my attempt to answer that question. Given access to all the musical scales in the world, and the tools and techniques jazz musicians use, like chord substitutions, 
        this improvization bot will attempts to solo over the greatest jazz standards, and your own compositions. And I ask you to determine, whether this machine is able to make language,
        or if it is simply a example of how music is only expressed at its best from emotion and passion.

        <br><br>

        <b>How Does The Bot Work?</b> The bot




        
      </p>
    </div>
    


</div>   

<footer class="footer">
  <!-- Footer -->
  <%- include(partials + '/footer.ejs') %>
 </footer>