<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
 *HTML template for parts of homepage from https://html5up.net/fractal
-->

<!-- Header Include -->
<%- include(partials + '/header.ejs') %>
<%- include(partials + "/flash") %> 

<style>
    .with-background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/JazzStandard.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<section class="with-background" style="height: 600px">


<div class="p-4 bg-transparent text-white">
    <div class="container-fluid py-1">
      <h1 class="display-6 fw-bold">The Jazz Improvization Bot</h1>
      <p class="col-md-8 fs-7 text-white">
        <b>REQUIREMENTS TO USE WEBSITE: Device: This website should be viewed on a computer web browser! Browser: The website should be used on the latest version of Google Chrome. 
            It also works with Safari, although the newest version (15.5) of Safari has a bug with Web Audio API that means you can't hear any sound; any version before 15.5 should work fine.  </b> 
      </p>
      <p class="col-md-8 fs-7 text-primary">
          Welcome to the Jazz Improvization Bot, a website where you can make your own chord changes, mess with some wacky jazz parameters, and then listen to the 
          bot improvize over your chord changes! Please see below for more information on how to use this website!
        <br>
      </p>
     
    </div>

     <!-- Modal -->
     <div class="modal fade text-secondary" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How to Use the Chart Maker</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Information goes here
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    </div>


</div>   



    <p style="margin-left: 150px; margin-right: 150px; font-size: 20px; color: white">
       <i> How To Use This Website</i>
            <p style="margin-left: 200px; margin-right: 150px; font-size: 15px; color: white">
                1. Make an account via the <a href="/login">Login</a> page. <br>
                2. Visit the <a href="/improv" >Chart Maker</a> and create your composition. If you don't have 
                any chord changes in mind, feel free to look up jazz standards chord charts at this <a href="http://therealbook.info/" target="_blank">online "real book"</a>. <br>
                3. Once your chord chart has been validated by the parsing algorithm, you can visit the <a href="/improv/selectChart">Improvisation Bot</a> to generate improvisations 
                over your changes and hear them played back in real time! <br>
                4. See the <a href="/about">about</a> page for more details on this website, and how it works! <br>
                5. For questions and inquiries, please contact Vikram Bala via <a href="mailto:vikrambala2002@gmail.com">email</a>. 

                <br>
                <br>
                1. <b>Quickstart:</b> If you want to hear the bot improvize immediately, a famous jazz standard entitled <i>All The Things You Are</i> by Jerome Kern has been <br> pre-saved to your account, 
                and can be accessed on the <a href="/improv/selectChart">Improvisation Bot</a> page. Just make an account and go to the <a href="/improv/selectChart">Improvisation Bot</a> page,
                and then click "Select Chart" next to <i>All The Things You Are</i>. It may take up to 15 seconds for an improvisation to be generated. 
            </p>

    </p>

</section>

<footer class="footer">
    <!-- Footer -->
    <%- include(partials + '/footer.ejs') %>
   </footer>