<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
 
-->
<%- include(partials + '/header.ejs') %>
<%- include(partials + "/flash") %> 

<script src="/js/generateChart.js"></script>

<!--Info on how to use -->
<section class="Instructions">
    Information about how to do improv here.
    If you just want to use one of your prior created charts, click here
    <br>
    <a href="/improv/selectChart">
        <button class="btn btn-secondary" style="margin-left: 20px;">Select Prior Chart</button>
    </a>
    
</section>

<!--Chart Creation -->
<section class="Chart-Creation">
    Create here
    
</section>

<section>
    <div style="margin-left: 20px; background-color: skyblue; background-size: contain; margin-right: 30px;">
        <br>
        <h4 style="margin-left: 20px;">Add Chord to Chart</h4>
        <button class="btn btn-success" onclick="generateChartParams()" style="margin-left: 20px;">Submit Your Chart</button>
        <div class="row">
            <div class="col">   
                <label for="composition-name" class="form-label" style="margin-left: 20px;">Name of Composition</label>
                <input type="text" class="form-control" id="composition-name" style="width: 300px; margin-left: 20px;">
                <div id="composition-name" class="form-text" style="margin-left: 20px;">This will be name will saved to your account for future retrieval of your composition</div>
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                <input type="text" id="chord" class="form-control" placeholder="Chord Abbreviation..." style="width: 300px; margin-left: 20px;">
            </div>
            <div class="col">
                <input type="text" id="duration" class="form-control" placeholder="Number of Beats/Chord Duration" style="width: 300px; ">
            </div>
            <div class="col">   
                <button class="btn btn-primary" onclick="addChord()">Add Chord</button>
            </div>
           
        </div>
    
        <br>
    </div>
    <br>
    <div style="margin-left: 20px; background-color: darkseagreen; background-size: contain; margin-right: 30px;">
        <ol id="chart" style="margin-left: 20px;">
           
        </ol>
    </div>
   
</section>