<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
 
-->
<%- include(partials + '/header.ejs') %>
<link rel="stylesheet" href="/css/selectChart.css">

<body onload="generateCallbacks()"> </body>


<div class="p-4 bg-light text-success rounded-3">
    <div class="container-fluid py-1">
      <h1 class="display-6 fw-bold">Improvization Bot</h1>
      <p class="col-md-8 fs-7">
          Information about the bot.
      </p>
      


       <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Instructions 
    </button>
    
    
    <!-- Modal -->
    <div class="modal fade text-secondary" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How to Use the Improvization Bot</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Information goes here
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>    
<br>



<div class="card" style="margin-left:70px; margin-right:70px">
    <div class="card-header">Audio Visualizer</div>
    <div class="card-body">
        <!-- Used in selectChart.js to show loading icon when AWS request is being done-->
        <section class="spinner"></section>

        <!-- Used in selectChart.js to display chord changes that get highlighted-->
        <section class="chart">
            <div class="d-flex justify-content-center chart-div"></div>
        </section>

        <!-- Used in selectChart.js to display note being played-->
        <section class="note card-text text-warning"></section>
    </div>
</div>

<br>    

<!-- Used in selectChart.js to set tempo, and in AWS lambda request for rests, "out"-ness, and substitution parameter-->
<section class="improv-parameters" style="margin-left:35px; margin-right:35px;">
    <div class="card">
        <div class="card-header">
            Improvization Settings
          </div>
        <div class="card-body">
            <div class="row">
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="width: 16rem;"> Tempo </div>
                            <input id="tempo" type="range" min="50" max="300" value="120" class="slider">
                            <div id="tempo-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="text-align: center; width: 16rem;"> Frequency of Rests </div>
                            <input id="rests" type="range" min="0" max="50" value="10" class="slider">
                            <div id="rests-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="width: 16rem;">Diatonic Chord Substitions </div>
                            <input id="substitutions" type="range" min="0" max="100" value="10" class="slider">
                            <div id="substitutions-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col mx-auto">
                    <div class="card-body mx-auto">
                        <div class="card-header text-primary text-center mx-auto" style="width: 16rem;"> Outness </div>
                        <select class="form-select text-center" id="outness" aria-label="Default">
                            <option selected>Solely Diatonic (Least Out)</option>
                            <option value="1">You Heard Giant Steps Once (2nd Least)</option>
                            <option value="2">Average Jazz Musician (Medium)</option>
                            <option value="3">You are John Coltrane (2nd to Most Out)</option>
                            <option value="3">So Out They Might Just Be Playing the Wrong Song (Most Out)</option>
                        </select>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div id="tempo-text" class="text-secondary card-text text-center" style="width: 16rem;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="chords" checked>
                                <label class="form-check-label card-header text-primary" for="flexCheckDefault">
                                  Play chords under improvization
                                </label>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="card col">
                    <div class="card-body mx-auto">
                        <div id="tempo-text" class="text-secondary card-text text-center" style="width: 16rem;">
                            Coming in the near future...
                        </div>
                    </div>
                </div>
            </div>

               
        </div>
    </div>
</section>

<section>
    <div>
        <ol id="chart" style="margin-left: 20px; margin-bottom: 10px;">
            <% for (var i = 0; i < length; i++) { %>
                <br>
                <div style ="margin-left: 0px; background-color: darkseagreen; background-size: contain; margin-right: 30px;">
                    <li> Title of Chart: <%= view_params[i] %>         
                        <button class="btn btn-primary select-button" id="<%=view_params[i]%>">Select Chart</button>
                        <button class="btn btn-danger delete-button" id="<%=view_params[i]%>">Delete Chart</button>
                    </li>
                </div>
            <% } %>
        </ol>
    </div>
   
</section> 

</body>
<script src="/js/selectChart.js"></script>