<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
-->

<!-- Header Include -->
<%- include(partials + '/header.ejs') %>


<div class="p-4 bg-light text-success rounded-3" style="margin-top: 2px; margin-bottom: 2px; margin-left: 5px; margin-right: 5px;">
    <div class="container-fluid py-1">
      <h1 class="display-6 fw-bold text-center text-success"><%= username %>'s Account</h1>
      <p class="col-md-8 fs-7 mx-auto text-success text-center">
          Congrats, you have an account! Don't you dare delete it
      </p>
    </div>

    <div style="text-align: center">
        <button type="button" onclick=deleteAccount() class="btn btn-danger">
            Delete Account
        </button>
    </div>
    
</div>   

<script src="/js/account.js"></script>
